body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  color: #2e2f42;
  direction: underline;
  text-decoration: none;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

p {
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.header {
}

.logo {
  color: #2e2f42;
font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
}

.accent-logo {
  color: #4d5ae5;
}

.nav:hover {
  color: #404bbf;
}

.nav:active {
  color: #404bbf;
}

.address {
  color: #434455;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

.main {
}

.section-hero {
  background-color: #2e2f42;
}

.hero-header {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  width: 496px;
  height: 120px;
  top: 260px;
  left: 472px;
  gap: 0px;
  opacity: 0px;
}

.hero-button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  width: Hug (169px) px;
  height: Hug (56px) px;
  top: 428px;
  left: 636px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  text-align: center;
}

.hero-button:hover {
  background-color: #404bbf;
}

.accent-logo {
  background: #f4f4fd;
}

.section-items {
}

.Advantages {
}

.items {
}



.header-items {
}

.items-text {
}

.section-team {
  background: #f4f4fd;
}

.header-team {
}

.card-team {
}

.card-team-header {
}

.card-team-text {
}

.portfolio {
}

.header-portfolio {
}

.card-portfolio {
}

.header-portfolio-card {
}

.portfolio-card-text {
}

.footer {
    background-color: #2e2f42;
}

.footer-logo{
color: #f4f4fd;
font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
}

.footer-text{
    color: #f4f4fd;
}


.footer-accent-logo {
    color: #4d5ae5;
    background-color: #2e2f42;
}