body{
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}

a{
    color: #2E2F42;
}

.header{}

.logo{
    color: #2E2F42;
}

.accent-logo{
    color: #4D5AE5;
}

.nav:hover{
    color: #404BBF;
}

.nav:active {
    color: #404BBF;
}

.address{
    color: #434455;
}

.address-link:hover{
    color: #404BBF;
}

.address-link:focus{
    color: #404BBF;
}

.main{}

.section-hero{
    background-color: #2E2F42;
}

.hero-header{
    color: #FFFFFF;
}

.hero-button{
   color: #FFFFFF;
background-color: #4D5AE5;
    border-radius: 4px 0px 0px 0px;
}

.hero-button:hover{
    background-color: #404BBF;
}

.accent-logo{
    background: #F4F4FD;
}

.section-items{}

.Advantages{}

.section-team{
    background: #F4F4FD;
}

.header-team{}

.card-team{}

.card-team-header{}

.card-team-text{}

.portfolio{}

.header-portfolio{}

.card-portfolio{}

.header-portfolio-card{}

.portfolio-card-text{}

.footer{}